#### Classification Problem using Artificial Neural Network

In [92]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [127]:
df = pd.read_csv('./churn_modeling.csv')

In [94]:
df.shape

(10000, 14)

In [95]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

##### Apply basic Feature Engineering

In [128]:
# Drop not useful columns
df.drop(['RowNumber','CustomerId', 'Surname'], axis=1, inplace=True)

In [129]:
# Transform Gender using Label Encoder

le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [117]:
df['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [130]:
# Transform Geopraphy column using OneHotEncoding

ohe= OneHotEncoder(drop='first', handle_unknown='ignore')
temp_df = ohe.fit_transform(df[['Geography']])
temp_df.toarray()
ohe.get_feature_names_out(['Geography'])

array(['Geography_Germany', 'Geography_Spain'], dtype=object)

In [131]:
temp_df.shape

(10000, 2)

In [132]:
temp_df = pd.DataFrame(temp_df.toarray(), columns=ohe.get_feature_names_out(['Geography']))

In [73]:
temp_df

      Geography_Germany  Geography_Spain
0                   0.0              0.0
1                   0.0              1.0
2                   0.0              0.0
3                   0.0              0.0
4                   0.0              1.0
...                 ...              ...
9995                0.0              0.0
9996                0.0              0.0
9997                0.0              0.0
9998                1.0              0.0
9999                0.0              0.0

[10000 rows x 2 columns]

In [133]:
df.drop('Geography', axis=1, inplace=True)
pd.concat([df, temp_df], axis=1)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,0.0,0.0

In [134]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,42,2,0.00,1,1,1,101348.88,1
1,608,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,39,1,0.00,2,0,0,93826.63,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0

In [135]:
# Split features and target
x = df.drop('Exited', axis=1)
y = df['Exited']

In [136]:
# Split data into train and test
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=10, test_size=0.2)

In [139]:
x.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,42,2,0.00,1,1,1,101348.88
1,608,0,41,1,83807.86,1,0,1,112542.58
2,502,0,42,8,159660.80,3,1,0,113931.57
3,699,0,39,1,0.00,2,0,0,93826.63
4,850,0,43,2,125510.82,1,1,1,79084.10

In [140]:
#Scale x_train, x_test using StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [141]:
# save label encoder, one hot encoder, standard scaler to pickle file

import pickle

with open('labelEncoder.pkl', 'wb') as file:
    pickle.dump(le,file)


with open('oneHotEncoder.pkl', 'wb') as file:
    pickle.dump(ohe,file)

with open('standardScaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

##### Artifical Neural Network (ANN) Implementation

Steps:
1)  Initialize a Sequential network
2)  Dense to create hidden neurons specifying number of neurons in each layer
3)  Apply activation functions (sigmoid, relu, tanh, leaky relu, etc), relu and its variants can be used in hidden layers, and depending on classes, sigmoid or softmax can be used
4)  Optimize the weights through Back progation
5)  Minimize the Loss function
6)  Metrics - Measure the accuracy using MSE, MAE, Accuracy, etc  
7)  Visualize training logs using Tensorboard

In [147]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input, Out
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [150]:
# create the model
model = Sequential()
model.add(Input(shape=(x_train.shape[1],))) # Input layer - provide inputs, same as features in x_train
model.add(Dense(64,activation='relu')) # Hidden layer 1
model.add(Dense(32,activation='relu')) # Hidden layer 2
model.add(Dense(1,activation='sigmoid')) # Output layer - activation function is sigmoid as we are solving a binary classification problem

In [166]:
model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_2 (Dense)                 │ (None, 64)             │           640 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 8,261 (32.27 KB)

 Trainable params: 2,753 (10.75 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 5,508 (21.52 KB)

In [156]:
# define the optimizer and loss function to use

optimizer = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [157]:
# compile the model
model.compile(optimizer=optimizer, loss=loss, metrics=['accuracy'])

In [159]:
# Setup Tensorboard directory
log_dir = "logs/fit"

In [160]:
# Define callbacks for Tensorboard and Early Stopping

tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10, restore_best_weights=True)

In [161]:
# Train the model
model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=100, callbacks=[tensorboard_callback, early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8192 - loss: 0.4298 - val_accuracy: 0.8495 - val_loss: 0.3678
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8483 - loss: 0.3679 - val_accuracy: 0.8470 - val_loss: 0.3780
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8610 - loss: 0.3478 - val_accuracy: 0.8425 - val_loss: 0.3849
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8589 - loss: 0.3418 - val_accuracy: 0.8475 - val_loss: 0.3756
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8609 - loss: 0.3420 - val_accuracy: 0.8560 - val_loss: 0.3724
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8624 - loss: 0.3319 - val_accuracy: 0.8470 - val_loss: 0.3664
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8542 - loss: 0.3458 - val_accuracy: 0.8505 - val_loss: 0.3686
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8591 - loss: 0.3394 - val_accuracy: 0.8500 - val_loss: 0.3741
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8625 - loss: 0.3339 - val_accuracy: 0.8480 - val_loss: 0.3686
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8598 - loss: 0.3362 - val_accuracy: 0.8445 - val_loss: 0.3694
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8570 - loss: 0.3348 - val_accuracy: 0.8550 - val_loss: 0.3655
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8588 - loss: 0.3360 - val_accuracy: 0.8460 - val_loss: 0.3663
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8662 - loss: 0.3292 - val_accuracy: 0.8495 - val_loss: 0.3658
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8535 - loss: 0.3379 - val_accuracy: 0.8495 - val_loss: 0.3792
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8590 - loss: 0.3371 - val_accuracy: 0.8480 - val_loss: 0.3681
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8689 - loss: 0.3248 - val_accuracy: 0.8405 - val_loss: 0.3742
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8658 - loss: 0.3222 - val_accuracy: 0.8490 - val_loss: 0.3686
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8593 - loss: 0.3384 - val_accuracy: 0.8575 - val_loss: 0.3628
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8565 - loss: 0.3319 - val_accuracy: 0.8490 - val_loss: 0.3726
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8690 - loss: 0.3141 - val_accuracy: 0.8470 - val_loss: 0.3696
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8623 - loss: 0.3215 - val_accuracy: 0.8455 - val_loss: 0.3835
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8701 - loss: 0.3142 - val_accuracy: 0.8430 - val_loss: 0.3801
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8650 - loss: 0.3192 - val_accuracy: 0.8445 - val_loss: 0.3805
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8648 - loss: 0.3155 - val_accuracy: 0.8500 - val_loss: 0.3783
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8669 - loss: 0.3184 - val_accuracy: 0.8470 - val_loss: 0.3880
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8635 - loss: 0.3271 - val_accuracy: 0.8460 - val_loss: 0.3825
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8630 - loss: 0.3202 - val_accuracy: 0.8505 - val_loss: 0.3840
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8650 - loss: 0.3171 - val_accuracy: 0.8440 - val_loss: 0.3926

In [163]:
# Save the model
model.save('model.keras')

In [164]:
# Load Tensorboard extension
%load_ext tensorboard

In [165]:
%tensorboard --logdir logs/fit